{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Calculate</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Calculate</h1>
    <div class="form_div">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
    {% if result is not None %}
        <div class="result">
            <p>Result: <b>{{ result }}</b></p>
        </div>
    {% endif %}
</body>
</html>